/* code */

code.highlighter-rouge {
    border: 1px solid #ddd;
    background: #f6f6f6;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
	color: #c7254e;
}

blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

table {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

table thead tr {
    background-color: #F8F8F8;
}

table th {
    font-weight: 700;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table td, table th {
    padding: 20px;
    border: 1px solid #ddd;
}
		
pre code {
  overflow: auto;
  display: block;
  font-family: Monaco,Consolas,"Lucida Console",monospace;
  border: 0;
  line-height: 1.9em;
  border-radius: 5px;
  padding: 20px!important;
  white-space: pre;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #888;
  font-size: 13px;
/*  background: #232323;*/
/*  color: white;*/
}
code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

.highlight pre code.language-diff {
  background: white;
  color: black;
  border: 1px solid teal;
}

/* github style diff color gi*/

.highlight .language-diff .gi {
  background: #EAFFEA;
  padding: 7px 0;
  /* github green */
}


.highlight .language-diff .gd {
  background-color: #ffecec;
  padding: 7px 0;
  /* github diff red */
}
